In [1]:
import tensorflow as tf
from tensorflow.keras import layers
import numpy as np
import os
import pickle

In [2]:
with open("data.txt",'r',encoding='utf-8') as f :
    text_data  = f.read()

In [3]:
text_data

"\nMaking an Impact\nHelping Millions of Students Succeed\nSudhanshu's commitment to affordable education wasn't just a business strategy—it was his life's mission. Over the years, iNeuron has helped over 1.5 million students from 34+ countries, providing them with the skills they need to succeed in today's competitive job market. Many of these students, like Sudhanshu himself, came from disadvantaged backgrounds. They saw iNeuron as a lifeline—an opportunity to rise above their circumstances.\n\nIn 2022, iNeuron was acquired by PhysicsWallah in a deal worth ₹250 crore. While this acquisition was a significant milestone, Sudhanshu remained focused on his mission. Even after the acquisition, iNeuron continued to offer some of the most affordable and accessible tech courses in the world.\n\nThe Entrepreneur and Teacher: Sudhanshu's Dual Legacy\nSudhanshu's journey isn't just one of entrepreneurial success; it's also a story of dedication to teaching. Throughout his career, he has remained a passionate educator, constantly looking for ways to empower others through knowledge. Whether teaching courses in Big Data, Data Science, or programming, Sudhanshu has always sought to make complex subjects accessible to learners at all levels.\n\nHis commitment to affordable education has earned him the respect and admiration of countless students. Many credit Sudhanshu with changing their lives, helping them secure jobs, improve their skills, and break free from the limitations of their backgrounds.\n\n\nSudhanshu Kumar's life is a story of triumph over adversity, driven by the belief in the transformative power of education. Born in Jamshedpur, Jharkhand, India, to a family of very modest means, Sudhanshu's early years were marked by financial hardship. His surroundings offered little opportunity, and resources were limited, yet he understood from a young age that education could be his ticket out of poverty.\n\nWhile many would have been daunted by the lack of support and opportunity, Sudhanshu was relentless in his pursuit of knowledge. He knew that education had the power to change lives, and he was determined to leverage it to create a better future for himself and his family. Despite the numerous challenges along the way, Sudhanshu excelled academically, eventually earning a degree in Computer Science and Engineering (CSE).\n\nAfter completing his education, Sudhanshu began his professional journey in the tech industry, working with prestigious companies like Wipro, Deloitte, Verizon Labs, and Ernst & Young. During this time, he gained expertise in various technologies and frameworks, including SAP WebDynpro, Fiori UI5 HANA, Java, Big Data, Data Analytics, and more. He became a well-rounded technologist, well-respected in his field.\n\nDespite his growing success, Sudhanshu never forgot his roots. He knew that there were many others who, like him, came from humble backgrounds and were looking for an opportunity to change their lives through education. It was during this time that Sudhanshu realized a harsh truth: quality education was often inaccessible to those who needed it the most. The high cost of education barred millions of people from pursuing their dreams, especially in tech fields that required specialized skills.\n\nFueled by his passion for making education accessible, Sudhanshu decided to take action. In 2019, he founded iNeuron Intelligence Private Limited, an edtech platform that would make tech upskilling affordable and accessible for everyone. His mission was clear: to provide high-quality courses at a price so low that even those from the most disadvantaged backgrounds could afford to learn.\n\niNeuron was designed to be more than just an online learning platform. It offered a comprehensive bundle of resources, including courses, books, hands-on projects, and live classes, making sure that learners could gain real-world, applicable skills. Most importantly, iNeuron was priced to ensure no student would be left behind due to financial constraints.\n\nThe company quickly gained traction, thanks to Sudhanshu's focus on affordability and quality. In 2021, iNeuron raised $3 million in funding from S. Chand, a leading education publisher. This allowed iNeuron to expand its offerings and reach a larger audience.\n\nBuilding on the success of iNeuron, Sudhanshu is now leading Euron, a unified platform for tech upskilling. Euron is designed for enterprises, schools, colleges, government organizations, and individuals looking to improve their tech skills. The platform provides a comprehensive bundle of resources, including courses, books, live classes, and projects. Euron's unique offering is its ability to provide licenses at scale—organizations can subscribe to provide their teams with unlimited access to learning materials for just 1600 INR per year per license.\n\nFor individuals, Euron Plus offers a similar plan, priced at 2900 INR per year, giving learners access to all of Euron's content, along with 24/7 support through Euron Assist. The idea is simple: anyone, anywhere, should have the opportunity to upskill without financial barriers.\n\nThe Euron Motto: Education for All, Without Limits\n\nAt the heart of Euron's philosophy is a single, powerful idea: Education for All, Without Limits. Sudhanshu believes that every person deserves the chance to learn, grow, and succeed, regardless of their financial situation or background. This belief is what drives Euron's mission to make tech education not just affordable but also accessible to anyone, anywhere in the world."

In [4]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=5000,oov_token='<OOV>')
tokenizer.fit_on_texts([text_data])

In [5]:
tokenizer

In [6]:
sequence = tokenizer.texts_to_sequences([text_data])[0]

In [7]:
sequence

[47,
 32,
 134,
 67,
 68,
 4,
 33,
 48,
 20,
 69,
 2,
 21,
 9,
 135,
 22,
 5,
 136,
 137,
 12,
 8,
 138,
 34,
 49,
 3,
 70,
 13,
 35,
 139,
 49,
 140,
 141,
 71,
 33,
 16,
 142,
 143,
 144,
 72,
 23,
 3,
 24,
 73,
 145,
 2,
 48,
 7,
 146,
 147,
 148,
 149,
 36,
 4,
 150,
 33,
 50,
 10,
 74,
 75,
 16,
 76,
 37,
 73,
 151,
 13,
 152,
 5,
 153,
 25,
 2,
 154,
 155,
 14,
 156,
 7,
 157,
 13,
 12,
 158,
 26,
 159,
 7,
 5,
 160,
 161,
 162,
 163,
 77,
 27,
 78,
 12,
 5,
 164,
 165,
 10,
 79,
 166,
 38,
 8,
 34,
 80,
 81,
 3,
 78,
 13,
 167,
 2,
 168,
 169,
 4,
 3,
 39,
 21,
 6,
 28,
 18,
 29,
 7,
 3,
 51,
 3,
 170,
 6,
 171,
 20,
 172,
 173,
 20,
 82,
 174,
 22,
 175,
 4,
 176,
 52,
 177,
 83,
 5,
 84,
 4,
 178,
 2,
 85,
 179,
 8,
 180,
 17,
 35,
 79,
 5,
 181,
 182,
 183,
 53,
 11,
 184,
 2,
 185,
 86,
 54,
 87,
 186,
 85,
 29,
 7,
 88,
 40,
 40,
 89,
 90,
 187,
 10,
 35,
 188,
 189,
 2,
 55,
 190,
 191,
 28,
 2,
 56,
 30,
 41,
 192,
 8,
 69,
 2,
 21,
 9,
 35,
 193,
 91,
 3,
 194,
 6,
 195,
 4,
 196,
 33,
 36,
 197,
 10,
 23,
 198,
 14,
 57,
 67,
 72,
 199,
 200,
 92,
 14,
 24,
 6,
 201,
 202,
 16,
 3,
 203,
 4,
 14,
 37,
 10,
 204,
 205,
 19,
 5,
 84,
 4,
 206,
 49,
 207,
 208,
 26,
 3,
 93,
 7,
 3,
 209,
 94,
 4,
 9,
 210,
 7,
 211,
 212,
 213,
 2,
 5,
 95,
 4,
 214,
 215,
 216,
 20,
 217,
 70,
 42,
 218,
 26,
 43,
 219,
 8,
 220,
 96,
 221,
 25,
 6,
 58,
 42,
 97,
 222,
 17,
 223,
 16,
 5,
 98,
 224,
 15,
 9,
 59,
 60,
 8,
 225,
 226,
 4,
 227,
 77,
 36,
 61,
 99,
 228,
 229,
 26,
 3,
 230,
 4,
 100,
 6,
 25,
 10,
 12,
 231,
 7,
 8,
 232,
 4,
 87,
 17,
 101,
 15,
 9,
 233,
 3,
 94,
 2,
 102,
 57,
 6,
 17,
 12,
 234,
 2,
 235,
 44,
 2,
 236,
 5,
 237,
 238,
 11,
 74,
 6,
 8,
 95,
 103,
 3,
 239,
 240,
 104,
 3,
 241,
 10,
 242,
 243,
 244,
 245,
 5,
 246,
 7,
 247,
 89,
 6,
 248,
 249,
 81,
 250,
 8,
 9,
 10,
 251,
 8,
 252,
 82,
 7,
 3,
 18,
 253,
 254,
 23,
 255,
 256,
 50,
 257,
 258,
 259,
 260,
 6,
 261,
 98,
 105,
 27,
 106,
 17,
 107,
 262,
 7,
 263,
 264,
 6,
 265,
 62,
 266,
 267,
 268,
 269,
 270,
 271,
 88,
 40,
 40,
 272,
 6,
 108,
 17,
 273,
 5,
 109,
 274,
 275,
 109,
 276,
 7,
 8,
 277,
 103,
 8,
 278,
 52,
 10,
 279,
 280,
 8,
 281,
 17,
 101,
 15,
 282,
 42,
 36,
 86,
 110,
 50,
 91,
 75,
 16,
 283,
 37,
 6,
 42,
 53,
 11,
 32,
 25,
 2,
 102,
 14,
 57,
 54,
 9,
 44,
 12,
 105,
 27,
 106,
 15,
 10,
 284,
 5,
 285,
 286,
 63,
 9,
 12,
 287,
 288,
 2,
 111,
 110,
 289,
 44,
 3,
 39,
 3,
 112,
 290,
 4,
 9,
 291,
 68,
 4,
 292,
 16,
 293,
 14,
 294,
 295,
 7,
 18,
 296,
 15,
 297,
 298,
 24,
 299,
 26,
 8,
 300,
 11,
 47,
 9,
 28,
 10,
 301,
 2,
 302,
 303,
 7,
 304,
 17,
 305,
 13,
 306,
 307,
 97,
 32,
 308,
 45,
 15,
 61,
 55,
 18,
 113,
 21,
 6,
 28,
 11,
 309,
 8,
 34,
 12,
 310,
 2,
 64,
 112,
 63,
 29,
 30,
 5,
 311,
 312,
 313,
 15,
 80,
 111,
 16,
 3,
 39,
 76,
 37,
 59,
 314,
 2,
 114,
 13,
 12,
 115,
 2,
 60,
 108,
 315,
 22,
 32,
 316,
 116,
 45,
 44,
 96,
 5,
 117,
 118,
 4,
 58,
 62,
 29,
 119,
 317,
 38,
 120,
 6,
 121,
 122,
 47,
 318,
 15,
 56,
 59,
 319,
 320,
 51,
 321,
 24,
 39,
 322,
 13,
 12,
 123,
 2,
 323,
 324,
 325,
 61,
 60,
 326,
 327,
 328,
 2,
 43,
 329,
 3,
 330,
 331,
 107,
 332,
 333,
 2,
 20,
 334,
 38,
 335,
 6,
 63,
 7,
 336,
 13,
 337,
 338,
 71,
 7,
 339,
 16,
 340,
 341,
 5,
 124,
 9,
 342,
 27,
 343,
 13,
 2,
 344,
 125,
 345,
 6,
 346,
 5,
 347,
 348,
 349,
 38,
 3,
 52,
 4,
 13,
 10,
 19,
 350,
 124,
 31,
 5,
 351,
 45,
 11,
 18,
 113,
 31,
 19,
 115,
 11,
 352,
 353,
 354,
 355,
 356,
 6,
 126,
 53,
 2,
 92,
 14,
 18,
 24,
 3,
 45,
 357,
 5,
 117,
 118,
 4,
 58,
 62,
 29,
 119,
 121,
 122,
 6,
 120,
 46,
 358,
 359,
 19,
 125,
 360,
 2,
 64,
 361,
 30,
 362,
 363,
 364,
 2,
 64,
 14,
 365,
 23,
 366,
 127,
 2,
 116,
 367,
 11,
 22,
 368,
 128,
 65,
 129,
 65,
 369,
 11,
 126,
 31,
 370,
 371,
 5,
 372,
 373,
 123,
 30,
 374,
 128,
 65,
 129,
 375,
 56,
 127,
 2,
 41,
 4,
 46,
 376,
 104,
 23,
 377,
 378,
 100,
 54,
 31,
 379,
 3,
 130,
 19,
 380,
 131,
 132,
 381,
 99,
 3,
 25,
 2,
 382,
 66,
 43,
 383,
 3,
 31,
 384,
 9,
 11,
 41,
 66,
 133,
 30,
 3,
 385,
 4,
 46,
 386,
 19,
 5,
 387,
 388,
 130,
 9,
 11,
 41,
 66,
 133,
 10,
 389,
 15,
 390,
 391,
 392,
 3,
 393,
 2,
 114,
 394,
 6,
 48,
 395,
 4,
 14,
 43,
 396,
 90,
 397,
 27,
 93,
 19,
 398,
 399,
 46,
 34,
 2,
 55,
 18,
 9,
 400,
 22,
 21,
 401,
 83,
 28,
 2,
 131,
 132,
 7,
 3,
 51]

In [8]:
with open("tokenizer.pkl",'wb')  as f :
    pickle.dump(tokenizer,f)

In [9]:
max_seq_length = 100
def create_dataset(seq,window_size = max_seq_length):
    input ,labels = [],[]
    for i in range(len(seq) -window_size):
        input.append(seq[i:i+window_size])
        labels.append(seq[i+1:i+window_size+1])
    return np.array(input) , np.array(labels)

In [10]:
x_data , y_data = create_dataset(sequence)

In [11]:
len(x_data)

741

In [12]:
len(y_data)

741

In [13]:
x_data[0]

array([ 47,  32, 134,  67,  68,   4,  33,  48,  20,  69,   2,  21,   9,
       135,  22,   5, 136, 137,  12,   8, 138,  34,  49,   3,  70,  13,
        35, 139,  49, 140, 141,  71,  33,  16, 142, 143, 144,  72,  23,
         3,  24,  73, 145,   2,  48,   7, 146, 147, 148, 149,  36,   4,
       150,  33,  50,  10,  74,  75,  16,  76,  37,  73, 151,  13, 152,
         5, 153,  25,   2, 154, 155,  14, 156,   7, 157,  13,  12, 158,
        26, 159,   7,   5, 160, 161, 162, 163,  77,  27,  78,  12,   5,
       164, 165,  10,  79, 166,  38,   8,  34,  80])

In [14]:
y_data[0]

array([ 32, 134,  67,  68,   4,  33,  48,  20,  69,   2,  21,   9, 135,
        22,   5, 136, 137,  12,   8, 138,  34,  49,   3,  70,  13,  35,
       139,  49, 140, 141,  71,  33,  16, 142, 143, 144,  72,  23,   3,
        24,  73, 145,   2,  48,   7, 146, 147, 148, 149,  36,   4, 150,
        33,  50,  10,  74,  75,  16,  76,  37,  73, 151,  13, 152,   5,
       153,  25,   2, 154, 155,  14, 156,   7, 157,  13,  12, 158,  26,
       159,   7,   5, 160, 161, 162, 163,  77,  27,  78,  12,   5, 164,
       165,  10,  79, 166,  38,   8,  34,  80,  81])

In [15]:
class PositionalEncoding(layers.Layer):
    def __init__(self, max_len, d_model):
        super().__init__()
        pos = np.arange(max_len)[:, np.newaxis]
        i = np.arange(d_model)[np.newaxis, :]
        angle_rates = 1 / np.power(10000, (2 * (i//2)) / np.float32(d_model))
        angle_rads = pos * angle_rates
        angle_rads[:, 0::2] = np.sin(angle_rads[:, 0::2])
        angle_rads[:, 1::2] = np.cos(angle_rads[:, 1::2])
        self.pos_encoding = tf.cast(angle_rads[np.newaxis, ...], dtype=tf.float32)

    def call(self, x):
        return x + self.pos_encoding[:, :tf.shape(x)[1], :]

In [16]:
def transformer_block(embed_dim, num_heads, ff_dim, dropout=0.1):
    inputs = layers.Input(shape=(None, embed_dim))
    attn_output = layers.MultiHeadAttention(num_heads=num_heads, key_dim=embed_dim)(inputs, inputs)
    attn_output = layers.Dropout(dropout)(attn_output)
    out1 = layers.LayerNormalization(epsilon=1e-6)(inputs + attn_output)

    ffn = tf.keras.Sequential([
        layers.Dense(ff_dim, activation='relu'),
        layers.Dense(embed_dim),
    ])
    ffn_output = ffn(out1)
    ffn_output = layers.Dropout(dropout)(ffn_output)
    out2 = layers.LayerNormalization(epsilon=1e-6)(out1 + ffn_output)
    return tf.keras.Model(inputs=inputs, outputs=out2)

In [21]:
vocab_size = 500
max_seq_len = 100
embed_dim = 100
num_heads = 8
ff_dim = 200
num_layers = 20
batch_size = 16
epoch = 5

def build_gpt_model():
    inputs = layers.Input(shape=(max_seq_len,))
    x = layers.Embedding(input_dim=vocab_size, output_dim=embed_dim)(inputs)
    x = PositionalEncoding(max_seq_len, embed_dim)(x)

    for _ in range(num_layers):
        transformer = transformer_block(embed_dim, num_heads, ff_dim)
        x = transformer(x)

    outputs = layers.Dense(vocab_size, activation='softmax')(x)
    return tf.keras.Model(inputs, outputs)

In [22]:
model = build_gpt_model()
model.compile(optimizer='adam' , loss = 'mse' , metrics=['accuracy'])

In [25]:
# Check that the model is compiled with the correct loss function
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(x_data, y_data, batch_size=batch_size, epochs=10, validation_split=0.1)

Epoch 1/10
42/42 [==============================] - 22s 271ms/step - loss: 5.4226 - accuracy: 0.0334 - val_loss: 6.9260 - val_accuracy: 0.0468
Epoch 2/10
42/42 [==============================] - 10s 236ms/step - loss: 5.4226 - accuracy: 0.0339 - val_loss: 7.0878 - val_accuracy: 0.0468
Epoch 3/10
42/42 [==============================] - 9s 222ms/step - loss: 5.4170 - accuracy: 0.0339 - val_loss: 7.1022 - val_accuracy: 0.0468
Epoch 4/10
42/42 [==============================] - 10s 241ms/step - loss: 5.4171 - accuracy: 0.0344 - val_loss: 7.1002 - val_accuracy: 0.0468
Epoch 5/10
42/42 [==============================] - 10s 241ms/step - loss: 5.4165 - accuracy: 0.0343 - val_loss: 7.1767 - val_accuracy: 0.0468
Epoch 6/10
42/42 [==============================] - 11s 261ms/step - loss: 5.4157 - accuracy: 0.0352 - val_loss: 7.2062 - val_accuracy: 0.0468
Epoch 7/10
42/42 [==============================] - 11s 255ms/step - loss: 5.4136 - accuracy: 0.0348 - val_loss: 7.1739 - val_accuracy: 0.0468
Epoch 8/10
42/42 [==============================] - 12s 281ms/step - loss: 5.4110 - accuracy: 0.0351 - val_loss: 7.2243 - val_accuracy: 0.0468
Epoch 9/10
42/42 [==============================] - 11s 263ms/step - loss: 5.4118 - accuracy: 0.0353 - val_loss: 7.2375 - val_accuracy: 0.0468
Epoch 10/10
42/42 [==============================] - 12s 300ms/step - loss: 5.4110 - accuracy: 0.0356 - val_loss: 7.3326 - val_accuracy: 0.0440

In [ ]:
model.save('gpt_model_class')

WARNING:absl:Found untraced functions such as query_layer_call_fn, query_layer_call_and_return_conditional_losses, key_layer_call_fn, key_layer_call_and_return_conditional_losses, value_layer_call_fn while saving (showing 5 of 240). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: gpt_model_class\assets

INFO:tensorflow:Assets written to: gpt_model_class\assets

In [ ]:
model.summary()

Model: "model_96"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 100)]             0

 embedding (Embedding)       (None, 100, 256)          1280000

 positional_encoding (Positi  (None, 100, 256)         0
 onalEncoding)

 model (Functional)          (None, None, 256)         2630144

 model_1 (Functional)        (None, None, 256)         2630144

 model_2 (Functional)        (None, None, 256)         2630144

 model_3 (Functional)        (None, None, 256)         2630144

 model_4 (Functional)        (None, None, 256)         2630144

 model_5 (Functional)        (None, None, 256)         2630144

 model_6 (Functional)        (None, None, 256)         2630144

 model_7 (Functional)        (None, None, 256)         2630144

 model_8 (Functional)        (None, None, 256)         2630144

 model_9 (Functional)        (None, None, 256)         2630144

 model_10 (Functional)       (None, None, 256)         2630144

 model_11 (Functional)       (None, None, 256)         2630144

 model_12 (Functional)       (None, None, 256)         2630144

 model_13 (Functional)       (None, None, 256)         2630144

 model_14 (Functional)       (None, None, 256)         2630144

 model_15 (Functional)       (None, None, 256)         2630144

 model_16 (Functional)       (None, None, 256)         2630144

 model_17 (Functional)       (None, None, 256)         2630144

 model_18 (Functional)       (None, None, 256)         2630144

 model_19 (Functional)       (None, None, 256)         2630144

 model_20 (Functional)       (None, None, 256)         2630144

 model_21 (Functional)       (None, None, 256)         2630144

 model_22 (Functional)       (None, None, 256)         2630144

 model_23 (Functional)       (None, None, 256)         2630144

 model_24 (Functional)       (None, None, 256)         2630144

 model_25 (Functional)       (None, None, 256)         2630144

 model_26 (Functional)       (None, None, 256)         2630144

 model_27 (Functional)       (None, None, 256)         2630144

 model_28 (Functional)       (None, None, 256)         2630144

 model_29 (Functional)       (None, None, 256)         2630144

 model_30 (Functional)       (None, None, 256)         2630144

 model_31 (Functional)       (None, None, 256)         2630144

 model_32 (Functional)       (None, None, 256)         2630144

 model_33 (Functional)       (None, None, 256)         2630144

 model_34 (Functional)       (None, None, 256)         2630144

 model_35 (Functional)       (None, None, 256)         2630144

 model_36 (Functional)       (None, None, 256)         2630144

 model_37 (Functional)       (None, None, 256)         2630144

 model_38 (Functional)       (None, None, 256)         2630144

 model_39 (Functional)       (None, None, 256)         2630144

 model_40 (Functional)       (None, None, 256)         2630144

 model_41 (Functional)       (None, None, 256)         2630144

 model_42 (Functional)       (None, None, 256)         2630144

 model_43 (Functional)       (None, None, 256)         2630144

 model_44 (Functional)       (None, None, 256)         2630144

 model_45 (Functional)       (None, None, 256)         2630144

 model_46 (Functional)       (None, None, 256)         2630144

 model_47 (Functional)       (None, None, 256)         2630144

 model_48 (Functional)       (None, None, 256)         2630144

 model_49 (Functional)       (None, None, 256)         2630144

 model_50 (Functional)       (None, None, 256)         2630144

 model_51 (Functional)       (None, None, 256)         2630144

 model_52 (Functional)       (None, None, 256)         2630144

 model_53 (Functional)       (None, None, 256)         2630144

 model_54 (Functional)       (None, None, 256)         2630144

 model_55 (Functional)       (None, None, 256)         2630144

 model_56 (Functional)       (None, None, 256)         2630144

 model_57 (Functional)       (None, None, 256)         2630144

 model_58 (Functional)       (None, None, 256)         2630144

 model_59 (Functional)       (None, None, 256)         2630144

 model_60 (Functional)       (None, None, 256)         2630144

 model_61 (Functional)       (None, None, 256)         2630144

 model_62 (Functional)       (None, None, 256)         2630144

 model_63 (Functional)       (None, None, 256)         2630144

 model_64 (Functional)       (None, None, 256)         2630144

 model_65 (Functional)       (None, None, 256)         2630144

 model_66 (Functional)       (None, None, 256)         2630144

 model_67 (Functional)       (None, None, 256)         2630144

 model_68 (Functional)       (None, None, 256)         2630144

 model_69 (Functional)       (None, None, 256)         2630144

 model_70 (Functional)       (None, None, 256)         2630144

 model_71 (Functional)       (None, None, 256)         2630144

 model_72 (Functional)       (None, None, 256)         2630144

 model_73 (Functional)       (None, None, 256)         2630144

 model_74 (Functional)       (None, None, 256)         2630144

 model_75 (Functional)       (None, None, 256)         2630144

 model_76 (Functional)       (None, None, 256)         2630144

 model_77 (Functional)       (None, None, 256)         2630144

 model_78 (Functional)       (None, None, 256)         2630144

 model_79 (Functional)       (None, None, 256)         2630144

 model_80 (Functional)       (None, None, 256)         2630144

 model_81 (Functional)       (None, None, 256)         2630144

 model_82 (Functional)       (None, None, 256)         2630144

 model_83 (Functional)       (None, None, 256)         2630144

 model_84 (Functional)       (None, None, 256)         2630144

 model_85 (Functional)       (None, None, 256)         2630144

 model_86 (Functional)       (None, None, 256)         2630144

 model_87 (Functional)       (None, None, 256)         2630144

 model_88 (Functional)       (None, None, 256)         2630144

 model_89 (Functional)       (None, None, 256)         2630144

 model_90 (Functional)       (None, None, 256)         2630144

 model_91 (Functional)       (None, None, 256)         2630144

 model_92 (Functional)       (None, None, 256)         2630144

 model_93 (Functional)       (None, None, 256)         2630144

 model_94 (Functional)       (None, None, 256)         2630144

 model_95 (Functional)       (None, None, 256)         2630144

 dense_192 (Dense)           (None, 100, 5000)         1285000

=================================================================
Total params: 255,058,824
Trainable params: 255,058,824
Non-trainable params: 0
_________________________________________________________________

In [35]:
import tensorflow as tf
import pickle
from tensorflow.keras.utils import pad_sequences
import numpy as np

model = tf.keras.models.load_model('gpt_model_class', custom_objects={'PositionalEncoding': PositionalEncoding, 'transformer_block': transformer_block})
with open("tokenizer.pkl",'rb') as f :
    tokenizer = pickle.load(f)  

max_seq_len=16

In [46]:
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences

def generate_text(seed_text, next_words, model, tokenizer, max_seq_len, temperature=1.0):
    for _ in range(next_words):
        token_list = tokenizer.texts_to_sequences([seed_text])[0]
        # Ensure padding to max_seq_len (100 here)
        token_list = pad_sequences([token_list], maxlen=max_seq_len, padding='pre')
        
        # Predict the next word
        predicted = model.predict(token_list, verbose=0)

        # Apply temperature scaling
        predicted = predicted[0] / temperature  # Scale the predictions
        predicted = np.exp(predicted) / np.sum(np.exp(predicted))  # Softmax-like scaling for randomness
        
        # Ensure predicted is 1D
        predicted = predicted.flatten()  # Make sure it is 1D
        
        # Get the index of the predicted word
        predicted_word_index = np.random.choice(range(len(predicted)), p=predicted)
        
        # Retrieve the actual word from the tokenizer's word index
        output_word = ""
        for word, index in tokenizer.word_index.items():
            if index == predicted_word_index:
                output_word = word
                break
        
        # Append the predicted word to the seed text
        seed_text += " " + output_word
    
    return seed_text

# Example usage
seed_text = "my name is sudhanshu "
next_words = 20
temperature = 0.5  # Adjust temperature for creativity
generated_text = generate_text(seed_text, next_words, model, tokenizer, max_seq_len=100, temperature=temperature)

print("Seed text: ", seed_text) 
print("Generated text: ", generated_text)

Seed text:  my name is sudhanshu
Generated text:  my name is sudhanshu      dual